[Desktop Entry]
Type=Service
Name=kdiff-ext
Comment=
Icon=de
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,application/octet-stream
X-KDE-Library=kdiff_ext
